* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  
}


/*VARIABLES SCSS*/



$color-principal: #ffc107;
$color-blanco: #FFFFFF;
$color-negro: #000000;

/*BODY*/


.headerproductos {
  text-align: center;
  background-color: $color-principal;
  border-radius: 12px;
  padding: 0;
  margin: 0;
}


.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;

}

.productos {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  .grid-text {
    text-align: center;
  }
}






/*HEADER ESTILOS*/

.abrir-menu {
  display: none;
}

.navbar-brand {
  font-size: 25px;
  margin-left: 40px;
  margin-right: 50px;
  color: $color-principal;
}

.carousel-item {
  img{
    width: 100%;
    
  }
}


/*FOOTER*/

.map-responsive {
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  height: 0;

  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

/*CONTACTO ESTILOS*/

.contacto-formulario {
  margin: auto;
  padding: 30px;
  background-color: $color-blanco;
  margin-top: 5px;
  max-width: 1000px;
  box-shadow: 0px 0px 3px $color-negro;
  border-radius: 6px;
  box-sizing: border-box;

  h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
    font-size: 30px;
  }

  .texto-formulario {
    text-align: justify;
    margin-bottom: 40px;
  }

  input,
  textarea {
    font-size: 16px;
    color: $color-negro;
    width: 100%;
    border: none;
    border-bottom: 1px solid $color-negro;
    outline: none;
    padding: 15px;
  }

  textarea {
    min-height: 150px;
    max-height: 150px;
    max-width: 100%;
  }

  .botones {
    background: $color-negro;
    border-radius: 1px;
    border: 2px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    padding: 15px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;
      background: #ffc107;
    }
  }

  .parrafoscontacto {
    text-align: justify;
  }

  .contactoimg {
    width: 100%;
    box-shadow: 0px 0px 3px $color-negro;
    border: 2px;
    border-radius: 5px;
  }
}

/*OUTLET*/

section {
  article {
    width: 100%;
  }
}

#sortby {
  display: flex;
  justify-content: end;
  list-style: none;
}

.block-title {
  color: $color-principal;
}

.item {
  display: flex;
  margin-top: 40px;
}

.preview {
  a {
    img {
      width: 100px;
    }
  }
}

a {
  text-decoration: none;
  span {
    color: $color-negro;
  }
}

h3 {
  a {
    color: $color-negro;
    font-size: 22px;
  }
}

/*NOSOTROS*/

/*Formulario Trabaja con nosotros*/

#italic {
  color: $color-principal;
  font-style: italic;
  font-size: 25px;
}

.hiringimg {
  width: 100%;
}

/*nuestras marcas*/

.text-marcas {
  text-align: center;
  font-size: 20px;
}


.imgs-marcas {
  display: inline-block;
  width: 100%;
}

.center {
  display: inline-block;
  text-align: center;
}
